.backdrop_check {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    transition: all 900ms ease-in-out;
}